Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Maps/Airport.umap
Content/MergedBW/SM_MERGED_BP_Barbed_Wire_2.uasset
Content/Maps/Airport_BuiltData.uasset